body {
  background: #293462;
}

.App {
  text-align: center;
  font-family: 'Roboto';
}

.app-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes pound {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(0.8);
  }
}
