body {
  background: #293462;
}

.App {
  text-align: center;
  font-family: 'Roboto';
}

.app-content {
  /* height: 750px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  font-family: "Amatic SC";
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5em;
  letter-spacing: 5.2px;
  text-shadow: 5px 3px 0px rgb(0 0 0 / 26%);
  position: relative;
  top: 10px;
  padding-bottom: 30px;
}

footer a {
  font-size: 0.7rem;
  opacity: 0.3;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
